@import url('https://fonts.googleapis.com/css2?family=Taviraj&display=swap');

body{
	font-family: 'Taviraj';
	font-weight: 400;		
	font-size: 36px;
	line-height: 40px;
	letter-spacing: 0.02em;
	color: #333333;
}

.page_link {
	font-size: 16px;
}

.title{
	display: inline-block;
}

.title h1::after{
	content: "";
	display: block;
	width: 65px;
	height: 1px;
	margin: 8px 0 0 0;
	background-color: #333333;
}